@import './../../style/var.scss';

.side-panel {
  height: 100%;
  padding: 0 5px;
  border-right: $br-1;
  .side-panel__cmp-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .cmp-item {
      width: 80px;
      height: 20px;
      padding: 5px;
      text-align: center;
      line-height: 20px;
      border: 1px solid black;
    }
  }
}
